<div class="navbar">
  <section id="menuContainer">

    <a onclick="toggle()" id="bars" href="#"><img src="./img/icon/menu.png" alt="Menü"/></a>
    <a class="headerStyle" href="./index.html"><img class="headIcon" src="./img/icon/galerie.png" alt="" />PHOTO.app</a>

    <nav id="menuLeft" class="">
      <a href="./index.html">GALLERIE</a>
      <a href="./datenschutz.html">DATENSCHUTZ</a>
      <a href="./impressum.html">IMPRESSUM</a>
      <button id="responsivBack" onclick="toggle()"><img src="./img/icon/schliessen_white.png" alt="" /></button>
    </nav>

  </section>
</div>
  